.contact-heading{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 auto 3rem;
}

.contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 400px; */
}

.form{
  width: 50vw;
  margin-bottom: 3rem;
}

.form-field{
  width: 100%;
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
  border: none;
  border: 1px solid var(--overlay-color);
  font-size: 1rem;
  font-family: inherit;
}

.text-area{
  height: 150px;
}
.form-field:focus{
  outline: 2px solid var(--primary-color);
}

.form-field::placeholder{
  font-family: inherit;
  font-size: 1rem;
}

.mail-button.link{
  text-decoration: none;
  cursor: pointer;
}
.mail-button:active{
  transform: scale(0.98);
}

@media (max-width : 1000px){
  .form{
    width: 90vw;
  }
}

@media(max-width : 500px){
  .mail-button.link{
    width: 100%;
  }
  .form-field{
    padding: 0.8rem;
  }
  .form-field, .form-field::placeholder{
    font-size: 0.9rem;
  }
}